<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Courses</title>
</head>
<body>
<form method="post" action="/addcourse" enctype=multipart/form-data>
    <div>
        <label for="inputEmail3">Course Name</label>
        <div>
            <input name="CourseName" type="Name" class="form-control" id="inputEmail3" placeholder="Course Name">
        </div>
    </div>

    <div>
        <label for="inputEmail3">Course ID</label>
        <div>
            <input name="CourseID" type="Name" class="form-control" id="inputEmail3" placeholder="Course ID">
        </div>
    </div>

    <div>
        <label for="description"></label>
        <div>
            <input type="submit" id="upload-file">
        </div>
    </div>
</form>
</body>
</html>