<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h1>Add User</h1>
<form method="post" action="/home/addUser" enctype=multipart/form-data>
    <div>
        <label for="inputEmail3">Name</label>
        <div>
            <input name="Name" type="Name" class="form-control" id="inputEmail3" placeholder="Name">
        </div>
    </div>

    <div>
        <label for="inputEmail3">Faculty</label>
        <div>
            <input name="Faculty" type="Faculty" class="form-control" id="Faculty" placeholder="Faculty">
        </div>
    </div>

    <div>
        <label for="inputEmail3">Student ID</label>
        <div>
            <input name="StudentID" type="StudentID" class="form-control" id="StudentID" placeholder="Student ID">
        </div>
    </div>

    <div>
        <label for="inputEmail3">Faculty Code</label>
        <div>
            <input name="IDtype" type="IDtype" class="form-control" id="IDtype" placeholder="Faculty Code">
        </div>
    </div>

    <div>
        <label for="inputEmail3">Finger Print ID</label>
        <div>
            <input name="FingerID" type="FingerID" class="form-control" id="FingerID" placeholder="Finger Print ID">
        </div>
    </div>

    <div>
        <label for="inputEmail3">Card ID</label>
        <div>
            <input name="CardID" type="CardID" class="form-control" id="CardID" placeholder="Card ID">
        </div>
    </div>

    <div>
        <label for="description"></label>
        <div>
            <input type="submit" id="upload-file">
        </div>
    </div>

</form>
</body>
</html>