<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Users</title>
</head>
<body>
<h1>Get User</h1>
<form method="post" action="/home/getStudents" enctype=multipart/form-data>
    <div>
        <label for="inputEmail3">Course Code</label>
        <div>
            <input name="CourseCode" type="CourseCode" class="form-control" id="inputEmail3" placeholder="Course Code">
        </div>
    </div>
    <div>
        <label for="description"></label>
        <div>
            <input type="submit" id="upload-file">
        </div>
    </div>
</form>
</body>
</html>