<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance System</title>
</head>
<body>
<h1>Attendance System</h1>
<li><a href="{{ url_for('.adduserpage') }}">Add User</a></li>
<li><a href="{{ url_for('.addcourse') }}">Add Courses</a></li>
<li><a href="{{ url_for('.courseregister') }}">Course Registration</a></li>
<li><a href="{{ url_for('.getuserinformation') }}">Get User Information</a></li>
<li><a href="{{ url_for('.uploadattendance') }}">Upload Attendance</a></li>

</body>
</html>